TOWER_ACCESS_TOKEN=<your-token>
TOWER_API_ENDPOINT=https://api.cloud.seqera.io
TOWER_WORKSPACE_ID=122097989272938
COMPUTE_ENV_ID=eL9EEuLZlKXla1T3TvZ47
DESTINATION_BUCKET=slas-2025
DESTINATION_PREFIX=event-driven-bioinformatics/input
SAREK_ACTION_ENDPOINT=https://api.cloud.seqera.io/actions/<sarek-action-id>/launch
