export TOWER_API_ENDPOINT="https://api.cloud.seqera.io"
export TOWER_ACCESS_TOKEN=$(op read "op://Employee/Seqera Platform Prod/credential")

export AWS_ACCESS_KEY_ID=$(op read "op://Scientific Development/Scidev-playground towerforge user/username")
export AWS_SECRET_ACCESS_KEY=$(op read "op://Scientific Development/Scidev-playground towerforge user/credential")
export AWS_ASSUME_ROLE_ARN=$(op read "op://Scientific Development/Scidev-playground towerforge user/arn")
export AWS_DEFAULT_REGION="eu-west-2"

export TOWER_WORKSPACE_ID=21366913905044
export SEQERA_ACTION_ID=2Wy5dPzWjA4MYw8dk7nEJp
export DESTINATION_BUCKET=slas-2025
export DESTINATION_PREFIX=event-driven-bioinformatics

# TODO brew install temporal

# watch_file pixi.lock

# eval "$(pixi shell-hook)"
