manifest {
    name            = 'seqeralabs/hello-automation'
    description     = 'Create Sarek-compatible samplesheet from staged FASTQs'
    version         = '0.1.0'
    nextflowVersion = '!>=23.10.0'
    defaultBranch   = 'main'
}

params {
    run_id                = null
    metadata_url          = 'https://raw.githubusercontent.com/nf-core/sarek/refs/tags/3.5.0/tests/csv/3.0'
    input_base            = null
    outdir                = null
    sarek_action_endpoint = null
}
